.card {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 450px;
  border-radius: 6px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.text-box {
  font-size: 18px;
  border: none;
  width: 300px;
  vertical-align: middle;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
