.flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.column1 {
  background-color: lightpink;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item1 {
  background-color: black;
  color: white;
}

.column2 {
  background-color: lightblue;
  width: 200px;
}
