.flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.column1 {
  background-color: lightpink;
  width: 100px;
}

.column2 {
  background-color: lightblue;
  width: 200px;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row2-item {
  background-color: black;
  color: white;
}
