input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.first-name {
  width: 148px;
}

.last-name {
  width: 148px;
}

.email {
  display: block;
  width: 300px;
}

button {
  background-color: rgb(47, 127, 231);
  color: white;
  border: none;
  width: 300px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}
