body {
  height: 3000px;
}

.right-sidebar {
  background-color: green;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.modal-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}

.modal-content {
  font-family: Arial;
  margin-bottom: 12px;
}
