p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 20px;
}

.link {
  color: rgb(58, 108, 199);
}
